* {
	margin: 0;
	padding: 0;
}

body { 
	margin-left: 50%;
	transform: translateX(-50%);
	background: #008c8c;
	max-width: 80%;
}
content {
	display: flex;
	justify-content: center;
}
.carouselMap {
	width: 500px;
	height: 300px;
	background: green;
	overflow: hidden;
	position: relative;
}
.carouselMap .imgContent {
	height: 100%;
	width: 2500px;
	position: absolute;
}
.carouselMap .imgContent img { 
	height: 300px;
	width: 500px;
	float: left;
}